@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* #ffffff */
    --foreground: 240 10% 3.9%; /* #0f0f0f */
    --card: 0 0% 100%; /* #ffffff */
    --card-foreground: 240 10% 3.9%; /* #0f0f0f */
    --popover: 0 0% 100%; /* #ffffff */
    --popover-foreground: 240 10% 3.9%; /* #0f0f0f */
    --primary: 142.1 76.2% 36.3%; /* #22c55e */
    --primary-foreground: 355.7 100% 97.3%; /* #f9f9f9 */
    --secondary: 240 4.8% 95.9%; /* #f4f4f4 */
    --secondary-foreground: 240 5.9% 10%; /* #1a1a1a */
    --muted: 240 4.8% 95.9%; /* #f4f4f4 */
    --muted-foreground: 240 3.8% 46.1%; /* #787878 */
    --accent: 240 4.8% 95.9%; /* #f4f4f4 */
    --accent-foreground: 240 5.9% 10%; /* #1a1a1a */
    --destructive: 0 84.2% 60.2%; /* #ff3e3e */
    --destructive-foreground: 0 0% 98%; /* #f9f9f9 */
    --border: 240 5.9% 90%; /* #e6e6e6 */
    --input: 240 5.9% 90%; /* #e6e6e6 */
    --ring: 142.1 76.2% 36.3%; /* #22c55e */
    --radius: 1rem; /* 16px */
  }

  .dark {
    --background: 20 14.3% 4.1%; /* #0d0d0d */
    --foreground: 0 0% 95%; /* #f2f2f2 */
    --card: 24 9.8% 10%; /* #1a1a1a */
    --card-foreground: 0 0% 95%; /* #f2f2f2 */
    --popover: 0 0% 9%; /* #171717 */
    --popover-foreground: 0 0% 95%; /* #f2f2f2 */
    --primary: 142.1 70.6% 45.3%; /* #2ed573 */
    --primary-foreground: 144.9 80.4% 10%; /* #1a1a1a */
    --secondary: 240 3.7% 15.9%; /* #262626 */
    --secondary-foreground: 0 0% 98%; /* #f9f9f9 */
    --muted: 0 0% 15%; /* #262626 */
    --muted-foreground: 240 5% 64.9%; /* #a5a5a5 */
    --accent: 12 6.5% 15.1%; /* #1e90ff */
    --accent-foreground: 0 0% 98%; /* #f9f9f9 */
    --destructive: 0 62.8% 30.6%; /* #ff4757 */
    --destructive-foreground: 0 85.7% 97.3%; /* #f9f9f9 */
    --border: 240 3.7% 15.9%; /* #262626 */
    --input: 240 3.7% 15.9%; /* #262626 */
    --ring: 142.4 71.8% 29.2%; /* #2dd36f */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.border-gradient-x-2 {
  border-image: linear-gradient(to bottom, #e6e6e6, rgba(0, 0, 0, 0)) 1 100%;
  border-left-width: 2px;
  border-right-width: 2px;
  border-style: solid;
}

.h-bar {
  position: relative;
}

.h-bar::before {
  content: '';
  position: absolute;
  border-bottom: 2px #e6e6e6 solid;
  height: 24px;
  width: 100%;
  transform: translateY(-50%);
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #22c55e transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #22c55e;
  border-radius: 10px;
  border: 3px solid transparent;
}
